<div class="slider">
            <ul>
                <img src="../images/1-01.jpg" alt="portada1">
                <img src="../images/2-01.jpg" alt="portada2">
                <img src="../images/3-01.jpg" alt="portada3">
                <img src="../images/4-01.jpg" alt="portada3">
            </ul>
        </div>
        
    
        <section class="contenedor-home">

            <div class="caja-texto">
                <h4>Servicio de omnibus</h4>
                <p>Contamos con unidades totalmente equipadas para un cómodo traslado de pasajeros, para un viaje de larga distancia.</p>
            </div>

            <div class="caja-texto">
                <h4>Servicio de combis</h4>
                <p>Nuestros servicios de charters son ideales para un viaje diario de personal de empresas con nuestro de compromiso de puntualidad.</p>
            </div>

            <div class="caja-texto">
                    <h4>Servicio de remises</h4>
                    <p>El servicio de remises se destaca por la rápida respuesta de nuestros móviles de alta gama brindando una excelente experiencia de viaje.</p>
            </div>

            <div class="caja-reserva">
                <h4>Para reservar su viaje</h4>
                <p>Ingrese al siguiente link</p>
                <a href="reserva">Reserva tu viaje</a>
                </div>
        
        </section>