<div class="contenedor-usuario">
    <div class="caja-perfil">
        <h2>Perfil de usuario</h2>
        <img id="img-perfil" src="../images/usuario.png" alt="usuario">
        <h4>Información del usuario</h4>

        <div id="div-usuario">

            <p>Nombre del usuario: {{data.nombre}}</p>
            <p>Correo electrónico: {{data.email}}</p>
            <p>Lugar de residencia: {{data.residencia}}</div></p>
                    
            </div>
    </div>

            
</div>