<div class="contenedor-usuario">
                <h2>Perfil de usuario</h2>
                <img id="img-perfil" src="../images/usuario.png" alt="usuario">
                <p>Información del usuario</p>

                <div id="div-usuario">
                    
                </div>

                <p>Puesto: Operario</p>

                <div id="paradaOrigen"><p>Ubicación: Villa Ballester</p></div>
            
</div>