<div class="contenedor-usuario">
    <div class="caja-perfil">
        <h2>Perfil de usuario</h2>
        <img id="img-perfil" src="../images/usuario.png" alt="usuario">
        
        <h4>Información del usuario</h4>

        <p>Nombre del usuario: {{data.nombre}}</p>
        <p>Correo electrónico: {{data.email}}</p>
        <p>Lugar de residencia: {{data.residencia}}</p>
        <p>Parada establecida: </p>

    </div>

    <div class="caja-empleados">
        <img id="img-empleados" src="../images/empleados.jpg" alt="empleados">
        <p>Texto secuendario Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor desconocido usó una galería de textos y los mezcló de tal manera que logró hace</p>
    </div>
    
    

            
</div>