<div class="contenedor-usuario">
                <h2>Perfil de usuario</h2>
                <img id="img-perfil" src="../images/usuario.png" alt="usuario">
                <p>Información del usuario</p>

                <div id="div-usuario">

                    {{data.nombre}}
                    <br>
                    {{data.email}}
                    <br>
                    {{data.residencia}}
                    
                </div>

            
</div>