<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="../css/style.css">

    <title>ExpressTransportes</title>
</head>

<body>
    <header>
        <div class="contenedor-logo">
            <a href="/"><img class="logo" src="../images/logo-final.png" alt="logo"></a><br>
            <h4>Servicio de transporte para empresas</h4>
        </div>

        <nav>
            <ul class="menu-home">
                    <li><a href="usuario">Mi usuario</a></li>
                    <li><a href="reserva">Reserva</a></li>
                    <li><a href="recorrido">Recorrido</a></li>
                    <li><a href="empresa">La empresa</a></li>
                    <li><a href="calendario">Calendario</a></li>
            </ul>

            <div class="botones-home">
                {{#if data}}
                <p>Bienvenido{{data.nombre}}</p>
                
                <button class= "boton-usuario"><a href="/logout">Salir</a></button>

                {{else}}
                <button class="boton-usuario"><a href="/login">Iniciar sesión</a></button>
                {{/if}}
            </div>
        </nav>

    </header>

    <div class="contenedor-general">

        {{{body}}}

    </div>


    <footer class="footer">
            <div class="info">
                <h5>Dirección de la empresa</h5>
                <h5>Terminal San Isidro: Av Márquez 1212</h5>
                <h5>Teléfono 011-1512 1212</h5>
                
            </div>

            <div class="contacto"><p><h6>Suscribite a nuestro newsletter:</h6></p>
                <label for="email"></label>
                <input type="email" id="email">
            </div>
    
    </footer>
</body>
</html>